.navbarContainer {
    position: relative;
    width: 75%;
    left: 12.5%;
    height: 3vh;
}
.jobsDiv {
    display: inline-block;
    margin-top: 10%;
    position: relative;
    top: 90%;
    left: 43%;
    transform: translate(-50%);
}
@media (max-width: 800px) {
    .navbarContainer {
        left: 05vw;
        width: 90vw;
        height: 3vh;
        margin-top: 1em;
        margin-left: 5vw;
    }
    .logoPic {
        width: 40%;
        position: relative;
        right: 0vw;
        bottom: 0vh;
    }
    .navLinks {
        position: relative;
        right: -3vw;
        width: 110%;
        bottom: 5vh;
    }
    .loggedIn {
        position: relative;
        right: 7vw;
        bottom: 3vh;
    }
    .notLoggedIn {
        position: relative;
        right: 5vw;
        bottom: 2vh;
    }
    #signUpLink {
        position: relative;
        left: 35vw;
        width: 20vw;
    }
    #signInLink {
        position: relative;
        left: 65vw;
        bottom: 10.5vh;
        width: 20vw;
    }
    #postJobLink {
        position: relative;
        top: 0.6em;
        right: -32vw;
        width: 25vw;
    }
    #searchLink {
        position: relative;
        bottom: 2.5em;
        left: 50vw;
        width: 25vw;
    }
    #loggedInLink {
        position: relative;
        bottom: 8vh;
        left: 48vw;
        width: 40vw;
    }
    #userNameLink {
        position: relative;
        left: 40vw;
        bottom: 3vh;
        font-size: 2em;
    }
    #viewRequestsLink {
        position: relative;
        left: 35vw;
        bottom: -0vh;
        width: 30vw;
    }
    .loggedInProvider {
        width: 75vw;
    }
    .userName {
        bottom: 0vh;
        left: 0vw;
        width: 40vw;
    }
    #linksConsumer {
        right: 10vw;
    }
    #linksProvider {
        right: 10vw;
    }
    .logo {
        right: 27vw;
        top: 1vh;
        z-index: 100000;
    }
    #userNameProvider {
        left: 65vw;
        width: 25vw;
        bottom: 7vh;
    }
    #userNameTextPro {
    }
    #logoNotLogged {
        right: 28vw;
    }
    #noJobsDiv {
        left: 20vw;
    }
}
